.offcanvas-body{
    transition: 0.4s;
    background-color: #612C2D;
}

.navbar-toggler{
    border: none;
}

.navbar{
    background-color: #612C2D;
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
}
#img-nav-bar{
    max-width: 100%;
}

.navbar-toggler-icon{
    border-radius: 0.25rem;
}

.nav-link{
    font-size: 20px;
    color: rgb(0, 0, 0);
}

.nav-link{
    transition: 0.8s;
}

.nav-link:hover{
    color: rgb(0, 0, 0);
    opacity: 0.8;
}

.dropdown-menu{
    background-color: #612C2D;
}

.dropdown-item{
    font-size: large;
    color: black;
    transition: 0.4s;
}

.dropdown-item:hover{
    opacity: 0.9;
}

.container{
    position: relative;
    top: 800px;
}

.barrinha{
    position: relative;
    top: 800px;
}

.offcanvas-header{
    background-color: #612C2D;
    font-family: "Poppins", sans-serif;
}

#offcanvasNavbarLabel{
    color: rgb(0, 0, 0);
    font-family: "Poppins", sans-serif;
}

#link-login{
    background-color: #B30000;
    border-radius: .5rem;
    color: white;
}